.example-card {
    max-width: 300px;
    margin: 4px
  }

mat-card {
  width:300px;
  max-height: 70px;
}

.mat-card-title{
  font-size: 13px;
}

.mat-card-content{
  font-size: 12px;
}