  <div>
    <canvas #canvas id="canvas" width="600" [height]="breakpoint" (window:resize)="onResize($event)">{{ cities }}</canvas>
  </div>




<!-- <mat-grid-list [cols]="breakpoint" rowHeight="2.5:1" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let city of features">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{city.attributes.residence}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>Confirmed: {{city.attributes.value}}</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->

